{% extends "base.html" %} {% block content %}
<section class="d-flex justify-content-center align-items-center min-vh-100 flex-column">
  <h1 class="title">Welcome to Andile's Portfolio</h1>
  <p>
    I am a passionate software developer with a focus on creating innovative
    solutions.
  </p>
  <div>
    <a href="https://github.com/NgobeseA" class="me-3 btn grey-btn"><img src="" alt="GitHub" width="24" /></a>
    <a href="https://linkedin.com/in/
  andile-ngobese-769478248
  " class="me-3 btn grey-btn"
      ><img src="" alt="LinkedIn" width="24"
    /></a>
  </div>
</section>
{% endblock %}
