{% extends 'base.html'%} {% load static %} {% block content %}
<section class="container projects">
  <div class="mt-lg-4">
    <h2>My Projects</h2>
    <p>List of my projects</p>
  </div>

  <div class="d-flex justify-content-between align-items-center gap-4">
    <div class="card-space">
      <div class="card-frame p-3">
        <div class="card-image p-1">
          <img src="{% static 'images/hotel.png' %}" class="img-fluid rounded">
        </div>
        <div class="card-btns pt-4">
          <a href="#" class="btn btn-primary">View Project</a>
          <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
      </div>
      <div class="card-content pt-2">
        <h3>Hotel Reservation System</h3>
        <p class="object-fit-cover">
          This project was develop using core java 8 following MVC architecture.
          It allows users to search for hotels, view available rooms, and make
          reservations. The system also includes an admin panel for managing
          hotel information and bookings.
        </p>
      </div>
    </div>

    <div class="card-space">
      <div class="card-frame p-3">
        <div class="card-image p-1">
          <img src="{% static 'images/pos.jpeg' %}" class="img-fluid rounded">
        </div>
        <div class="card-btns pt-4">
          <a href="#" class="btn btn-primary">View Project</a>
          <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
      </div>
      <div class="card-content pt-2">
        <h3>Point Of Sale System (POS)</h3>
        <p class="object-fit-cover">
          This project was develop using core java 8 following MVC architecture.
          It allows users to search for hotels, view available rooms, and make
          reservations. The system also includes an admin panel for managing
          hotel information and bookings.
        </p>
      </div>
    </div>

    <div class="card-space">
      <div class="card-frame p-3">
        <div class="card-image p-1">
          <img src="{% static 'images/tribute.png' %}" class="img-fluid rounded">
        </div>
        <div class="card-btns pt-4">
          <a href="#" class="btn btn-primary">View Project</a>
          <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
      </div>
      <div class="card-content pt-2">
        <h3>Tribute website</h3>
        <p class="object-fit-cover">
          This project covers the basic of HTML5, CSS3 and Javascripts.
          Developed this to demonstrate my skills in these technologies. 
          It base on Elon musk covers the timeline of his achievements to till this point.
          It uses the flex box and Grid layout.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
