{% extends 'base.html'%} {% load static %} {% block content %}
<section class="container projects">
  <div class="mt-lg-4">
    <h2>My Projects</h2>
    <p>List of my projects</p>
  </div>

  <div class="d-flex justify-content-between align-items-center gy-5">
    <div class="card-space">
      <div class="card-frame p-3">
        <div class="card-image p-1">
          <img src="{% static 'images/hotel.png' %}" class="img-fluid rounded">
        </div>
        <div class="card-btns">
          <a href="#" class="btn btn-primary">View Project</a>
          <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
      </div>
      <div class="card-content">
        <h3>Hotel Reservation System</h3>
        <p>
          This project was develop using core java 8 following MVC architecture.
          It allows users to search for hotels, view available rooms, and make
          reservations. The system also includes an admin panel for managing
          hotel information and bookings.
        </p>
      </div>
    </div>

    <div class="card-space">
      <div class="card-frame p-3">
        <div class="card-image"></div>
        <div class="py-3">
          <a href="#" class="btn btn-primary">View Project</a>
          <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
      </div>
      <div class="card-content">
        <h3>Hotel Reservation System</h3>
        <p>
          This project was develop using core java 8 following MVC architecture.
          It allows users to search for hotels, view available rooms, and make
          reservations. The system also includes an admin panel for managing
          hotel information and bookings.
        </p>
      </div>
    </div>

    <div class="card-space">
      <div class="card-frame p-3">
        <div class="card-image">
          
        </div>
        <div class="card-btns">
          <a href="#" class="btn btn-primary">View Project</a>
          <a href="#" class="btn btn-secondary">GitHub</a>
        </div>
      </div>
      <div class="card-content">
        <h3>Hotel Reservation System</h3>
        <p>
          This project was develop using core java 8 following MVC architecture.
          It allows users to search for hotels, view available rooms, and make
          reservations. The system also includes an admin panel for managing
          hotel information and bookings.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
